/* FAUCET */

.faucet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}

.faucet img {
  width: 500px;
}

.faucet h3 {
  font-size: 30px;
}

.faucet input {
  font-size: 20px;
  background-color: rgb(238, 238, 238);
  border: none;
  border-radius: 14px;
  padding: 13px 13px;
  margin-bottom: 10px;
}

.faucet button {
  background-color: #ce0101;
  padding: 14px 22px;
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 10px;
}

.faucet button:hover {
  background-color: #610f0f;
}
